/* app global css */
.container{
  margin: 5% 10%;
  min-width: 260px;
}

.completed {
  text-decoration: line-through;
}

.submit-button{
  margin: auto;
}

.start-item{
  max-width: 90%;
  min-width: 500px;
}

.start-img{
  width: 40%;
  min-width: 150px;
}

.start-title{
  font-size: 2rem;
}

.text {
  max-width: 100%;
  margin: auto;
}